<div class="container mt-5 d-flex justify-content-center">

    <div class="container justify-content-center">

        <form #form="ngForm" class="m-auto p-3" (submit)="formulaire(form); form.resetForm()">

            <div class="form-group">
                <label for="titre">Titre</label>
                <input [(ngModel)]="ingredient.titre" type="text" class="form-control" id="titre" name="titre" />
            </div>

            <div class="form-group">
                <label for="quantite">Quantité</label>
                <input [(ngModel)]="ingredient.quantite" type="text" class="form-control" id="quantite"
                    name="quantite" />
            </div>

            <div class="form-group">
                <label for="unite">Unité</label>
                <select [(ngModel)]="ingredient.unite" class="form-control" id="unite" name="unite">
                    <option value="kilo">kilo/s</option>
                    <option value="litre">litre/s</option>
                    <option value="gramme">gramme/s</option>
                </select>
            </div>

            <input type="hidden" name="id" [(ngModel)]="ingredient.id">

            <button type="submit" class="btn mt-3 btn-primary">Ajouter</button>
        </form>
    </div>

    <div class="">
        <div *ngFor="let ingredient of ingredients" class="card m-2" style="width: 18rem;">
            <div class="d-flex">
                <div>
                    <h5 class="card-title pt-3" style="padding-left: 1rem">
                        {{ingredient.titre}}
                    </h5>
                </div>

                <div class="card-body">
                    <a class="card-link btn btn-outline-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

</div>