<div class="mt-5">

    <div class="container justify-content-center">

        <form #form="ngForm" class="m-auto p-3" (submit)="formulaire(form)">

            <div class="form-group">
                <label for="titre">Titre</label>
                <input [(ngModel)]="ingredient.titre" type="text" class="form-control" id="titre" name="titre"/>
            </div>
            
            <div class="form-group">
                <label for="quantite">Quantité</label>
                <input [(ngModel)]="ingredient.quantite" type="text" class="form-control" id="quantite" name="quantite"/>
            </div>

            <div class="form-group">
                <label for="unite">Unité</label>
                <select [(ngModel)]="ingredient.unite" class="form-control" id="unite" name="unite">
                    <option value="kilo">kilo/s</option>
                    <option value="litre">litre/s</option>
                    <option value="gramme">gramme/s</option>
                </select>
            </div>

            <button type="submit" class="btn mt-3 btn-primary">Ajouter</button>

        </form>

    </div>

</div>